body {
    background-image: url("images/firstpage.jpg");
    background-size: 100%;
    position: static;
}

html {
    height: 100%
}
#header{
    opacity: 0.8;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    background-color: #FFDEAD;
}

#actionBox{
    background-color: rgba(237,237,237,0.8);
    filter: alpha(obacity=(20)); /* For IE8 and earlier */
    width: 900px;
    height: 400px;
    position: fixed;
    left: 0%;
    bottom: 20%; 
}

#boxLine{
    border-bottom: 5px solid black;
}

#startButton{
    width: 50%;
    height: 50px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
    color:black;
    background: rgba(255, 102, 0, 1);
}