/* Height constraints needed for outermost container for inner containers. */
html, body {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

#header {
    background-color: #ededed;
    border: 1px solid black;
    padding-left: 50px;
    font-family: "Comic Sans", Times, serif;
}

#title {
	font-size: 50px;
    font-weight: bold;
	display: inline-block;
}

#subtitle {
    font-style: italic;
	display: inline-block;
}

#content-pane {
    height: 90%;
}

#left-pane {
    height: 100%;
    border-style: hidden solid hidden hidden;
}

#left-pane input {
    width: 40px;
    margin-bottom: 10px;
}

#left-pane p {
    font-weight: bold;
    text-align: right;
}

thead {
    font-weight: bold;
    background-color: #ededed;
}

#right-pane {
    height: 80%;
}

#search-pane {
    background-color: #ffe499;
    border-bottom-style: solid;
}

#browsing-pane {
    overflow: auto;
    height: 100%;
}

