/* Height constraints needed for outermost container for inner containers. */
html, body {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

#header {
    background-color: #ededed;
    border: 1px solid black;
    padding-left: 50px;
    font-family: "Comic Sans", Times, serif;
}

#title {
	font-size: 50px;
    font-weight: bold;
	display: inline-block;
}

#subtitle {
    font-style: italic;
	display: inline-block;
}

#content-pane {
    height: 90%;
}

#left-pane {
    height: 100%;
    border-right: 1px solid black;
}

#left-pane input {
    width: 40px;
    margin-bottom: 10px;
}

#left-pane p {
    font-weight: bold;
    text-align: right;
}

thead {
    font-weight: bold;
    background-color: #ededed;
}

#right-pane {
    height: 80%;
}

#search-pane {
    background-color: #ffe499;
    border-bottom: 1px solid black;
}

#search-pane select {
    width: 200px;
}

#browsing-pane {
    overflow: auto;
    height: 100%;
    padding: 10px;
}

#ingredient-list {
    background-color: #ffe499;
    border: solid;
}

/* Nice formatting from https://css-tricks.com/examples/hrs/ */
hr {
    border: 0px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.image-box {
    border: solid;
    max-width: 150px;
    background-color: #ededed;
}

.image-box img {
    border-bottom: solid;
    width: 100%;
}

.image-box h3 {
    text-align: center;
}