html, body {
    height: 100%;
}


#header {
    background-color: #ededed;
    padding-left: 50px;
    font-family: "Comic Sans", Times;
  
}

#title {
	font-size: 50px;
        font-weight: bold;
	display: inline-block;
}

#subtitle {
        font-style: italic;
	display: inline-block;
}

#content-pane {
    height: 90%;
}

#left-pane {
    float: left;
    width: 15%;
}

#right-pane {
    float: right;
    width: 85%;
}

#search-pane {
    background-color: #ffe499;
}

#browsing-pane {
    overflow: auto;
}

