#subHeaderSubTitle{
    display: inline-block;
}    

#subHeader {
    border: 2px solid black;
    height: 8%;
    background-color: #FFDEAD;
    font-family: "Comic Sans", Times;
}

#subHeaderSubTitle {
    padding-left: 85px;
}

#prepBody {

}

#item-1 {
    min-width: 190px;
    min-height: 300px;
}

#item-1-text {
    min-width: 400px;
    min-height: 300px;
}

#item-1-prep-text {
    min-width: 300px;
    position: relative;
}
